[x1] Template to Pony Chrome Mania [x2]




[x1] Modal [x2]

[modal-dialog]{}
[modal-content]{}
[modal-header]{}
[modal-body]{}
[modal-footer]{}




[x1] Top Page [x2]

#logo, [logobr]{
background-image: urlfile(none[png]) !important;
background-size: 100% !important;
min-height: auto !important;
min-width: auto !important;
height: 0px !important;
width: 0px !important;
}

[urltop]{
color: red !important;
}

a:hover{
color: #FFF;
}

[urltop]:hover{
color: #FFF !important;
}

#links_here{}





[x1] Other [x2]

[searchbase]{}
[languagebase]{}
[warnbasepx]{}
[titleinsertbase]{}
[clickponyoptions]{}
[table]{}
[tableponiesoptions]{}





[x1] Geral [x2]

body{
background-color: #FFF !important;
background-image: urlfile(background[png]) !important; [x1] Detect URL Folder [x2]
color: #FFF;
}

[warnhttpsek]{
color: red !important;
}

[menuhelp]{
background: #000 !important;
color: #FFF !important;
}

[container], table, [tborder]{
background-color: #000;
box-shadow: 0px 0px 55px #000;
}

[hideurllist]{
color: #FFF
}

#refreshsystem{
font-size: 13pt;
margin-right: 10px;
}

#refreshsystem:hover{
text-decoration: none;
cursor: pointer;
}












[x1] Menus [x2]

[thead]{
background: #009933;
}

[panelponylist1]{
border-color: #009933;
border-style: solid;
}

[panelponylist2]{
border-color: #009933;
border-style: solid;
}

[ponyimg]{}

[ponyname]{}

[number]{}

[filecentercustom], [optionspagecustom], [urlonoffcustom]{}

[warnclsss1], [warnclsss2], [warnclsss3], [warnclsss4], [warnclsss5], [warnclsss6]{}

#listconfigponies{}










[x1] Warns [x2]

[x1] Base URL Global [x2]

[warningglobalbase1]{
color: #FFF !important;
}
[warningglobalbase1]{
color: #000 !important;
}

[x1] Select Item [x2]
[selected]{
color: #a3297a !important;
}

[failloadck]{
color: #005ce6 !important;
}

[failloadck2]{
color: #000 !important;
}

[x1] Base URL [x2]
#getbaseurl{
color: #cc9900;
}

[getbaseurltrue]{
color: #0066ff !important;
}

#searchopenlist{
color: #2eb82e !important;
}

[x1] Error Options [x2]

[nothingurlpage]{
border-color: #b30077 !important;
}

[nothingitemcode], [nothingitemcode]::-webkit-input-placeholder{
border-color: #b30077 !important;
color: #ff1ab3 !important;
}

[nothingitemcode2], [nothingitemcode2]::-webkit-input-placeholder{
color: #003d99;
border-color: #003d99 !important;
box-shadow: 0px 0px 5px #003d99 !important;
}

[littlefailsave]{
color: green !important;
}

[x1] Top Options [x2]

[warningcolor]{
background: #0099ff !important;
}



[x1] Click Colors [x2]

[x1] Red [x2]
[removebxl]:hover{
color: #0000cc !important;
}

[x1] Green [x2]
[openbxl]:hover{
color: #cc0052 !important;
}

[x1] Brown [x2]
[updatebxl]:hover{
color: #00cccc !important;
}

[x1] Remove Disable [x2]
[disabledremover]{
background-color: rgba(255,255,255 [numb0]08) !important;
color: #FFF !important;
}






[x1] System Code [x2]

[deviantartst]{
color: #339966 !important;
font-weight: bold !important;
}

[truest]{
color: green !important;
font-weight: bold !important;
}

[falsest]{
color: red !important;
font-weight: bold !important;
}

[nonest]{
color: DimGrey !important;
font-weight: bold !important;
}

[centerst], [rightst], [leftst], [fixedst], [verticalst], [horizontalst], [dverticalst], [dhorizontalst], [allst], [mouseoverst], [diagonalst], [mirrorst]{
color: LightSlateGrey !important;
font-weight: bold !important;
}

[numberst]{
color: Orange !important;
font-weight: bold !important;
}

[psst]{
color: Purple !important;
font-weight: bold !important;
}

[audiost]{
color: Violet !important;
font-weight: bold !important;
}

[imagest]{
color: Teal !important;
font-weight: bold !important;
}







[x1] Clicks [x2]

input[type=submit]:not([payimagesplus]):not([pagseguroimagesplus]){
background:#FFF; 
cursor:auto;
border-radius: 6px; 
}

input[type=text], input[type=number], input[type=color] {
padding:4px; 
border:2px solid #FFF; 
border-radius: 6px;
}










[x1] Loading [x2]

#imageloading{
-webkit-animation: exemplehere[numb00]55s linear infinite !important;
-moz-animation: exemplehere[numb00]55s linear infinite !important;
animation: exemplehere[numb00]55s 1inear infinite !important;
background: urlfile(none[png]) !important;
background-size: 100% !important;
min-height: auto !important;
min-width: auto !important;
width: 0px !important;
height: 0px !important;
}

#imageloading2{
-webkit-animation: exemplehere[numb00]55s linear infinite !important;
-moz-animation: exemplehere[numb00]55s linear infinite !important;
animation: exemplehere[numb00]55s 1inear infinite !important;
background: urlfile(none[png]) !important;
background-size: 100% !important;
min-height: auto !important;
min-width: auto !important;
width: 0px !important;
height: 0px !important;
}

@-moz-keyframes exemplehere { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes exemplehere { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes exemplehere { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }








[x1]



Debug Mode

At (a person's) own risk!
Por sua conta e risco!

[name='commandponygenerator']{

display: inline !important;
pointer-events: auto !important;
-webkit-user-select: text !important;
-khtml-user-select: text !important;
-moz-user-select: text !important;
-ms-user-select: text !important;

}






Image Tags

Deviantart:

deviantart[x]:orig(3d08/f/2016/111/e/5/darkwoon_villain_1_by_darkwoon-d9zqkmw[png]) 
deviantart[x]:img(2a4e/i/2015/031/1/c/jackie_dreasond_bed_by_jackieguitabox-d8f7mgo[png]) 
deviantart[x]:pre(6340/th/pre/i/2013/053/0/f/flutter_woods_by_biel56789-d5vub36[png])

File Tag:

urlfile(none[png])

file: www.test.com.br/yay/myfile.css
urlfile[2](none[png]) --> www.test.com.br/yay/none.png --> www.test.com.br/none.png

Min: [2]
Max: [10]

File Tags:

[png] [gif] [jpg] [jpeg]

[back] --> ../








[x2]