body{
background-color: #000;
color: #C0C0C0;
//white-space:pre-wrap;
padding: 25px 25px 35px 25px;
}

::-webkit-scrollbar{display: none;}

*{cursor: default;}

command{display: block;}

a{font-weight: bold; color: #C0C0C0;}
a:hover{text-decoration: none; color: #e6e6e6; cursor: pointer;}


.lycker{
color: #FFF; 
font-weight: bold; 
cursor: text; 
width: 100%;
} .ly_st{opacity: 0;}









.download_error, .error_system{color: #e60000;}
.download_complete{color: #00cc00;}
.help_title{color: #ac00e6;}
.help_info{color: #e67300;}



::selection{background-color: #FFF !important; color: #3F3F3F !important;}