#openadvanceduser:hover, #openadvanceduser h2:hover, #openlicenceuser:hover, #openlicenceuser h2:hover{
color: #000 !important;
}

.hideinfo{
display: none !Important;
}

#loadingimageswarning{
color: #000;
position:fixed; 
right: 5px;
width: 200px;
margin:0px;
bottom: 5px;
display:block;
background-color: #F1F1F1;
padding: 1px;
border: 1px rgb(42, 134, 191) solid;
border-radius: 2px;
opacity: 0.2;
}