/* Introdução */

body{
background-image: linear-gradient(#FFF, #e6ffff);
font-family:Verdana,Arial,Sans-Serif;
font-size:11px;
font-family: Verdana, Geneva, sans-serif;
color: #0d0d0d;
}

.whitelisthidexs{
display: none !important;
}

.whitelistsystem{
font-weight: bold !important;
}

#openbackup{
margin-left: 25px;
}

#openbackup:hover{
margin-left: 24px;
}

#backupexport{
margin-left: 25px;
}

#backupimport{
margin-right: 25px;
}

#backupexport:hover{
margin-left: 24px;
}

#backupimport:hover{
margin-right: 24px;
}

#globalbaseurlwarn{
margin-right: 8px;
font-weight: bold;
font-size: 13pt;
}

.warningglobalbase1{
color: red;
}

.warningglobalbase2{
color: green;
}

.warnhttpsek{
color: #ff9900 !important;
}

.baseletras{
display: inline;
}

::-webkit-scrollbar {
width: 16px;
}
 
::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
background: #FFF;
}
 
::-webkit-scrollbar-thumb {
background: #bfbfbf;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
border: solid 1px #FFF;
}

::-webkit-scrollbar-thumb:hover {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}

::-webkit-scrollbar-thumb:active {
background-color: rgba(0,0,0,0.2);
border-radius: 5px;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}

.bodyhide{
background-image: url(../images/loading.png), url(../images/loadingcfg2.gif) !important;
background-color: #000 !important;
background-repeat: no-repeat, no-repeat !important;
background-attachment: fixed, fixed !important;
background-position: 50% 40%, 50% 70% !important; 
}

#refreshsystem{
font-size: 13pt;
margin-right: 10px;
}

#refreshsystem:hover{
text-decoration: none;
cursor: pointer;
}

#refreshdate{
margin-right: 10px;
}

#copyright, #extracopyright, #extracopyright2{
text-align: center;
display: block;
font-weight: bold;
font-family: Copperplate / Copperplate Gothic Light, sans-serif;
}

.hideenglishcr{
display: none !important;
}

#logo{
background: url(../images/logo.png);
background-size: 100%;
min-height: auto;
min-width: auto;
cursor: pointer;
}

#logo:hover{
-webkit-filter: brightness(30%);
}

.logobr{
background: url(../images/logo-br.png) !important;
background-size: 100% !important;
}

#logo{
width:687px;
height: 140px;
}

#numberaccountts{
display: inline;
}

#numbersurl{
font-weight: bold;
display: inline;
}

#container{
margin-top: 35px !important;
margin-bottom: 35px !important;
background:rgba(242, 242, 242, 0.56);
width:90%;
color:#000000;
border:0px solid #55485c;
padding:11px;
text-align:left;
position:relative;
height:auto!important;
height:100%;
margin:0 auto;
min-width: 950px;
border-radius: 7px;
}

#loadinglg{
display: inline;
}

.loadprogresstest{
display: none;
}

.loadprogressteston{
display: block !important;
}

/* Clicks */

input[type=image]:hover{
-webkit-filter: brightness(80%);
}

input[type=image]:active{
-webkit-filter: brightness(60%);
}

input[type=image]:focus{
outline: none;
}

input[type=submit]:not(.payimagesplus):not(.pagseguroimagesplus){
margin: 1px;
padding:5px 10px; 
background: linear-gradient(#eaeaea, #d9d9d9); 
border:0 none;
cursor:auto;
border-radius: 3px; 
font-family:Verdana,Arial,Sans-Serif;
font-weight: bold;
color: #0d0d0d;
}

input[type=submit]:not(.payimagesplus):not(.pagseguroimagesplus):hover{
border: solid 1px;
color: #494949;
margin: 0px;
box-shadow: 0px 0px 2px;
}


input[type=submit]:not(.payimagesplus):not(.pagseguroimagesplus):active {
outline: none;
border: dotted 1px;
}

input[type=submit]:not(.payimagesplus):not(.pagseguroimagesplus):focus {
outline:0;
}

input[type=color]{
margin: 1px;
padding:1px 12px; 
background: linear-gradient(#e1e1e1, #d9d9d9);
border:0 none;
cursor:auto;
border-radius: 3px; 
font-family:Verdana,Arial,Sans-Serif;
font-weight: bold;
}

input[type=color]:hover{
border: solid 1px;
margin: 0px 1px;
padding:1px 10px;
}

input[type=color]:active{
border: solid 1px;
margin: 0px 1px;
padding:1px 10px;
}

input[type=color]:focus {
outline:0;
}

input[type=text], input[type=number] {
padding:4px; 
border:1px solid #ccc; 
border-radius: 3px;
}

input[type=text]:focus, input[type=number]:focus {
border-color:#333;
}

#urlbase{
width: 300px;
}

input[type=number]{
width: 60px;
}

#optionsgeneratorps{
text-align: center;
}

/* Box URL */

.hideurllist{
display: none;
}

.boxurl{
font-family:font-family: '.LucidaGrandeUI';
}

.boxurl:hover{
font-family:font-family: '.LucidaGrandeUI';
font-weight: bold;
cursor: pointer;
}

.boxurlclicknshide{
display: none !important;
}

.boxurlclickns:hover{
cursor: auto;
font-weight: normal;
}

.removebxl:hover{
color: red !important;
}

.littlefailsave{
color: red !important;
}

.openbxl:hover{
color: green !important;
}

.updatebxl:hover{
color: #745500 !important;
}

.removeglobal{
padding-right: 30px !important;
padding-left: 30px !important;
margin-right: 25px !important;
margin-left: 25px !important;
}

.removeglobal:hover{
margin-left: 24px !important;
margin-right: 24px !important;
}

#browserponies1t, #browserponies2t, #browserponies3t, #browserponies4, #browserponies5, #browserponies6, #browserponies7, #browserponies8, #browserponies9, #browserponies10, #browserponies11, #browserponies12, #browserponies13, #browserponies14, #browserponies15, #browserponies16, #browserponies17, #browserponies18, #browserponies19, #browserponies20, #browserponies21, #browserponies22, #browserponies23, #browserponies24, #browserponies25, #browserponies26, #browserponies27, #browserponies28, #browserponies29, #browserponies30{
width: 500px;
margin: 3px;
}

.selected{
font-weight: bold;
color: green;
}

a:link{color:#0047b3;
text-decoration:none;
}

a:visited{color:#0047b3;
text-decoration:none;
}

a:hover,a:active{color:#000;
text-decoration:none;
}

table {
background: #FFF;
font-size:11pt;
font-family:Verdana,Arial,Sans-Serif;
}

.tborder{background:#FFF;
width:100%;
margin:auto auto;
}

.thead{
background: #48449d;
color: #FFF;
font-weight: bold;
}

.expandthead{
padding-bottom: 15px;
padding-top: 15px;
}

#aviso1, #aviso2{
display: inline;
}

[name='commandponygenerator']{
pointer-events: none !important;
-webkit-touch-callout: none !important;
-webkit-user-select: none !important;
-khtml-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
display: none !important;
}

#wariningnothing{
color: #FFF;
text-shadow: 0px 0px 5px red;
margin-right: 30px;
}

.removewarningke{
display: none !important;
}

.loadingwarningke{
text-shadow: 0px 0px 0px #000 !important;
}

.warningcolor{
background: red !important;
}

.savedisabled{
pointer-events: none !important;	
}

.disabledwarning{
pointer-events: none !important;
-webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.disabledremover{
pointer-events: none !important;
background-color: rgba(0,0,0,0.08) !important;
}


/* Ponies */

#hidebaseurl, #hideponycode{
display: none;
font-size: 10pt;
}

.nothingurlpage{
border: red solid 4px !important;
color: red;
outline: none;
}

.nothingitemcode, .nothingitemcode::-webkit-input-placeholder{
border-color: red;
box-shadow: 0px 0px 5px red;
color: red;
outline: none;
}

.nothingitemcode2, .nothingitemcode2::-webkit-input-placeholder{
border-color: #ebcd00;
box-shadow: 0px 0px 5px #ebcd00;
color: #cccc00;
outline: none;
}

.failloadck{
color: red !important;
font-weight: bold !important;
}

.failloadck2{
color: #000 !important;
font-weight: bold !important;
}

.filecenterclickshere{
margin: 10px !important;
}

.filecenterclickshere:hover{
margin: 9px !important;
}

.antihidecodes{
display: inline !Important;
}

.urlfilecenter{
cursor: pointer;
}

.urlfilecenter:hover{
text-decoration:underline;
}

.ponyconfigpage{
margin: 6px;
border:1px solid #ccc; 
border-radius: 3px;
width: 100% !important;
min-width: 70% !important;
max-width: 70% !important;
}

.ponyconfigpage2{
margin: 6px;
border:1px solid #ccc; 
border-radius: 3px;
width: 100% !important;
min-width: 100% !important;
max-width: 100% !important;
}

.orktablecodes{
width: 70% !important;
min-width: 70% !important;
max-width: 70% !important;	
}

.convertpanel2{
height: 100px;
min-height: 100px !important;
}

.baseurlconfig, .ponylistconfig{
font-weight: bold;
font-size: 15pt;
}

.panelponylist1{
border-right: 1px dashed #006bb3;
border-left: 0px dashed #006bb3;
}

.panelponylist2{
border-left: 1px dashed #006bb3;
border-right: 0px dashed #006bb3;
}

.urlonbase{
width: 78%;
display: inline;
}

.urlhere1{
text-align: left;
}

.urlhere2{
text-align: right;
}

.loadingpanelre{
pointer-events: none !important;
-webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#searchtype{
margin-left: 13px;
}

.hideponies{
display: none !important;
}

#searchopenlist{
cursor: pointer;
font-weight: bold;
color: #cc5200;
font-family: Verdana, Geneva, sans-serif;
}

#searchtext{
font-weight: bold;
display: inline;
}

#getbaseurl{
font-weight: bold;
color: red;
font-family: Verdana, Geneva, sans-serif;
}

#getbaseurl:hover, #searchopenlist:hover{
color: #000 !important;
}

[for="_count"]{
font-family: "Courier New", Courier, monospace;
}

.ponyname{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#selectionponyk{
list-style-type: square;
}

.getbaseurltrue{
color: green !important;
}

.getbaseurltrue2{
color: blue !important;
}

.boxtestke{
height: 200px;
width: 500px;
}

.number{
width: 60px;
}

.controlponies table{
margin-left: 35px;
}

#ponylist{
max-height: 400px;
min-height: 400px;
width: 400px;
overflow: auto;
float: right;
background: #eaeaea;
border: solid 2px #e1e1e1;
border-radius: 5px;
color: #000;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
}

#ponylist::-webkit-scrollbar {
width: 20px;
}
 
#ponylist::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
border-radius: 5px;
}
 
#ponylist::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #FFF;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}

#ponylist::-webkit-scrollbar-thumb:hover {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}

#ponylist::-webkit-scrollbar-thumb:active {
background-color: rgba(0,0,0,0.2);
border-radius: 5px;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}

#openpnpage, #openpnpageoc, #deviantart, #tumblr, #github, #openmyprivacy{
font-weight: bold;
font-size: 10pt;
}

.ponyname{
font-weight: bold;
border-top: 2px solid rgba(0,0,0,0.2);
margin-top: 15px;
padding-top: 15px;
}

.ponynamefirst{
border-top: 0px solid rgba(0,0,0,0.2) ;
}

.ponyimg{
margin-top: 30px;
margin-bottom: 30px;
}




/* MENU HERE */

.backuppage{
height: 200px !important;
}

.menuclosed{
display: none !important;
}

.menuhelp{
width: 40%;
height: 40%;
overflow: hidden;
position: fixed;
top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
z-index: 115 !important;
color: #000;
background: #f5f5f5;
padding: 30px;
border: 1px rgb(42, 134, 191) solid;
border-radius: 5px;
overflow: auto;
-webkit-box-shadow: inset 0 0 2px rgba(42, 134, 191, 1);
}

.menuhelpdonate{
width: 40%;
height: 165px;
}

.menutagsck{
height: 70%
}

.menuhelp img{
height: 30%;
width: 40%;
margin: 10px;
}

.menuhelp img:hover{
-webkit-filter: brightness(30%);
}

.menuhelp::-webkit-scrollbar {
width: 20px;
}
 
.menuhelp::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.0); 
margin: 5px;
border-radius: 5px;
}
 
.menuhelp::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
margin: 5px !important;
}

.menuhelp::-webkit-scrollbar-thumb:hover {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}

.menuhelp::-webkit-scrollbar-thumb:active {
background-color: rgba(0,0,0,0.2);
border-radius: 5px;
-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,1); 
}


#taglistname, #baselistname{
font-size: 15pt;
font-weight: bold;
}

#baselistname:hover{
text-decoration:underline;
}

#taglistgenerator{
font-weight: bold;
}

#baselistgenerator, #baselistname, #baselistname, .basegeneratorviewpk{
display: block !important;
}

[id*="xbaselike"]{
display: block !important;
}

[id*="gbaselikeurl"]{
display: inline !important;
cursor: pointer;
}

.urllistbaseexpand{
width: 70% !important;
height: 80% !important;
}

.hidebaselist{
display: none !important;	
}

#baselistname{
cursor: pointer;
}

/* System Code */

[id*="configbasepke"]{
background-color: #FFF;
}

[id*="gbaselikeurl"]:hover{
text-decoration:underline;
}

.deviantartst{
color: #339966 !important;
font-weight: bold !important;
}

.truest{
color: green !important;
font-weight: bold !important;
}

.falsest{
color: red !important;
font-weight: bold !important;
}

.nonest{
color: DimGrey !important;
font-weight: bold !important;
}

.centerst, .rightst, .leftst, .mouseoverst, .fixedst, .verticalst, .horizontalst, .dverticalst, .dhorizontalst, .allst, .diagonalst, .mirrorst{
color: LightSlateGrey !important;
font-weight: bold !important;
}

.numberst{
color: Orange !important;
font-weight: bold !important;
}

.psst{
color: Purple !important;
font-weight: bold !important;
}

.audiost{
color: Violet !important;
font-weight: bold !important;
}

.imagest{
color: Teal !important;
font-weight: bold !important;
}


/* Donate */

.donatepaypal1{
display: inline !important;
position: absolute;
right: 0;
}

.donatepaypal2{
display: inline !important;
position: absolute;
}

.pagseguro{
display: block !important;
}

.antipagseguro{
display: none !important;
}

.donatepagep2{
height: 115px !important;
}




/* Paypal */

.payimagesplus{
border: solid 1px #ff9933;
background-image: linear-gradient(#fff9ee, #fff1db, #ffb138, #fff1db);
border-radius: 40px;
padding-left: 20px;
padding-right: 20px;
padding-top: 3px;
padding-bottom: 3px;
color: #003366;
font-weight: bold;
font-style:italic;
font-size: 10pt;
font-family: Verdana, Geneva, sans-serif;
}

.payimagesplus:hover{
border: solid 1px;
border-color: #ff9933;
margin: 0px;
box-shadow: 0px 0px 2px #ff9933;
}


.payimagesplus:active {
outline: none;
border: solid 2px #ff9933;
margin: -1px;
}

.payimagesplus:focus {
outline:0;
}


/* PagSeguro */

.pagsegurosub{
font-size: 7pt;
font-family: Verdana, Geneva, sans-serif;
margin-bottom: 7px;
margin-left: 75px;
-webkit-touch-callout: none !important;
-webkit-user-select: none !important;
-khtml-user-select: none !important;
-moz-user-select: none !important;
-ms-user-select: none !important;
}

.pagseguroimagesplus{
border: solid 2px #25b737;
background-image: linear-gradient(#25b737, #25b737, #1e972d);
border-radius: 2px;
padding-left: 20px;
padding-right: 20px;
padding-top: 5px;
padding-bottom: 5px;
color: #FFF;
font-weight: bold;
font-style:italic;
font-size: 10pt;
font-family: Verdana, Geneva, sans-serif;
margin-bottom: -8px;
}

.pagseguroimagesplus:hover{
border: solid 2px;
border-color: #25b737;
margin: 0px;
margin-bottom: -8px;
box-shadow: 0px 0px 8px #25b737;
}


.pagseguroimagesplus:active {
outline: none;
border: solid 2px #25b737	;
margin: 0px;
margin-bottom: -8px;
color: #56ff6b;
}

.pagseguroimagesplus:focus {
outline:0;
}






/* Loading */

#imageloading{
-webkit-animation:spin 0.55s linear infinite;
-moz-animation:spin 0.55s linear infinite;
animation:spin 0.55s 1inear infinite;
background: url(../images/loadingcfg.png);
background-size: 100%;
min-height: auto;
min-width: auto;
width: 18px;
height: 18px;
}

#imageloading2{
-webkit-animation:spin 0.55s linear infinite;
-moz-animation:spin 0.55s linear infinite;
animation:spin 0.55s 1inear infinite;
background: url(../images/loadingcfg2.png);
background-size: 100%;
min-height: auto;
min-width: auto;
width: 30px;
height: 30px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }





/* Privacy */

#polikpage{
padding: 8px;
background-color: #e6e6e6;
border:1px solid #ccc; 
border-radius: 3px;
margin: 10px;
}

#warnprivacy{
font-weight: bold;
}

#titleprivacy{
font-weight: bold; 
font-size: 17pt;
}

#privacylanguage{
font-size: 12pt;
font-weight: bold;
}

#brasillg:hover, #englishlg:hover{
text-decoration:none;
color: #0073e6;
cursor: pointer;
}

#privacyallowone{
display: none;
}

.allowprivacyte{
display: inline !important;
}

#privacyen, #privacybr{
display: none;
}

.privacyvisible{
display: inline !important;
}

#warntransation{
display: block;
text-align: right !important;
}


::selection {
background: #7733ff !important;
color: #000 !important;
}